section img {
  display: block;
  margin: auto;
  width: 100%;
}

section.products-container {
  position: relative;
  text-align: center;
}

section div.product-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -95%);
  color: #fff;
  text-align: center;
}

section div p.products-title {
  font-size: 18rem;
  font-weight: bolder;
  margin: 3rem;
}

section div p.products-description {
  font-size: 4rem;
  margin: 4rem;
  padding: 0 20%;
}

section div p#products-price {
  font-size: 8rem;
  color: #fff;
  font-weight: bolder;
  width: 60%;
  margin: auto;
}

section div p#products-price:hover {
  color: #000;
  background-color: #30fde8;
  border-radius: 4rem;
  padding: 3rem;
  width: 60%;
  margin: auto;
  cursor: pointer;
}

@media (max-width: 1279px) {
  section div.product-text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    height: 60%;
    text-align: center;
  }

  section div p.products-title {
    font-size: 12rem;
    margin: 1rem;
  }

  section div p.products-description {
    font-size: 4rem;
    font-weight: lighter;
    margin: 2% auto;
    padding: 0 3%;
    width: 70%;
  }

  section div p#products-price {
    font-size: 6rem;
  }
}

@media (min-width: 851px) {
  section div.product-text {
    position: absolute;
    top: 55%;
  }
}

@media (max-width: 850px) {
  div.big-container {
    margin-top: 25rem;
  }

  section div.product-text {
    top: 55%;
  }

  section div p.products-title {
    font-size: 6rem;
    margin: 2%;
  }

  section div p.products-description {
    font-size: 2.2rem;
  }

  section div p#products-price {
    font-size: 3rem;
  }
}

@media (max-width: 640px) {
  section div.product-text {
    top: 55%;
    margin: auto;
  }

  section div p.products-title {
    font-size: 7rem;
    margin: auto;
    width: 100%;
  }
  section div p.products-description {
    font-size: 2.5rem;
    width: 100%;
  }
  section div p#products-price {
    margin: auto;
    font-size: 2.5rem;
    width: 100%;
  }
}

@media (max-width: 586px) {
  section img {
    height: 50vh;
  }
  section div.product-text {
    top: 66%;
  }
}
