<footer class="footer">
  <section class="footerContainer">
    <nav class="footerNav">
      <a href="#about"> Nosotros </a>
      <a href="#"> Productos</a>
      <a href="#"> Ofertas </a>
      <a href="#FAQ"> FAQ </a>
    </nav>

    <nav class="footerNav">
      <a href="#"> Centro de ayuda </a>
      <a href="#"> Garantía </a>
      <a href="#"> Contacto </a>
      <a href="#"> Descuentos</a>
    </nav>

    <nav class="footerNav">
      <a href="#"> Experiencia de juego </a>
      <a href="#"> Catálogo</a>
      <a href="#"> Premium </a>
      <a href="#"> Eventos</a>
    </nav>

    <nav class="socialMedia">
      <a href="#" class="fas fa-user icons"></a>
      <a href="#" class="fas fa-user icons"></a>
      <a href="#" class="fas fa-user icons"></a>
      <a href="#" class="fas fa-user icons"></a>
    </nav>
  </section>
  <br />
</footer>
