<footer class="footer">
  <section class="footerContainer">
    <nav class="footerNav">
      <a href="#about"> Nosotros </a>
      <a href="#"> Productos</a>
      <a href="#"> Ofertas </a>
      <a href="#FAQ"> FAQ </a>
    </nav>

    <nav class="footerNav">
      <a href="#"> Ayuda </a>
      <a href="#"> Garantía </a>
      <a href="#"> Contacto </a>
      <a href="#"> Descuentos</a>
    </nav>

    <nav class="footerNav">
      <a href="#"> Experiencia </a>
      <a href="#"> Catálogo</a>
      <a href="#"> Premium </a>
      <a href="#"> Eventos</a>
    </nav>

    <nav class="socialMedia">
      <a href="#" class="fa-brands fa-facebook"></a>
      <a href="#" class="fa-brands fa-instagram"></a>
      <a href="#" class="fa-brands fa-twitter"></a>
      <a href="#" class="fa-brands fa-youtube"></a>
    </nav>
  </section>
  <br />
</footer>
