<section class="formContainer" id="FAQ">
  <div class="formTitle">
    Dejanos tus datos para recibir descuentos, promociones y más.
  </div>
  <form action="">
    <label for=""> </label>
    <input class="nameform" type="text" placeholder="Nombre completo" />
    <br />
    <label for=""> </label>
    <input class="emailform" type="email" placeholder="Correo electrónico" />
    <br />
    <label for="" class="comment"> Escribe tu comentario (Opcional) </label>
    <br />
    <textarea
      class="FAQform"
      name="comment"
      id=""
      cols="60"
      rows="10"
      placeholder="Escribe tu comentario (Opcional)"
    ></textarea>

    <section class="FAQ-Buttons">
      <button type="submit" class="FAQSend">Enviar</button>
      <button type="reset" class="FAQDelete">Borrar</button>
    </section>
  </form>
</section>
