<header class="header">
  <nav class="navbar">
    <a href="#about"> Nosotros </a>
    <a href="/products" id="products"> Productos</a>
    <a href="/offers" id="offers"> Ofertas </a>
    <a href="#FAQ"> FAQ </a>
  </nav>
  <a href="/" class="imgLogo"
    ><img src="/Images/Logo2.svg" alt="logo" class="logo"
  /></a>

  <div class="navbar-btns">
    <a href="#">
      <div id="menu-btn" class="fas fa-bars icons"></div>
    </a>
    <a href="/register">
      <div id="register-btn" class="fas fa-user icons"></div>
    </a>
    <a href="/login">
      <div id="login-btn" class="fas fa-sign-in-alt icons"></div>
    </a>
    <a href="#">
      <div id="shopping-btn" class="fas fa-shopping-basket icons"></div>
    </a>
    <a href="#">
      <div id="search-btn" class="fas fa-search icons"></div>
    </a>
  </div>

  <!-- //Shopping cart -->
  <nav class="shopping-navbar">
    <div class="shopping-resume">
      <img src="/Images/halo02.png" alt="" />

      <div class="product-shopping-container">
        <div class="product-title">Halo Infinite</div>
        <div class="cancel">
          <i class="fas fa-times"></i>
        </div>
        <div class="product-shopping-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat
          tempore, delectus blanditiis molestias cupiditate similique ex,
          excepturi odio sint provident obcaecati eum illum nesciunt distinctio
          ut. Non sunt nisi animi!
        </div>
        <div class="price-shopping">$20usd | Cantidad: 2</div>
        <div class="buttons-shopping">
          <button type="submit" class="buy-shopping">Agregar otro</button>
          <button type="reset" class="erase-shopping">Eliminar producto</button>
        </div>
      </div>
    </div>

    <div class="shopping-resume">
      <img src="/Images/xbox.jpg" alt="" />

      <div class="product-shopping-container">
        <div class="product-title">Xbox Series X</div>
        <div class="cancel">
          <i class="fas fa-times"></i>
        </div>
        <div class="product-shopping-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat
          tempore, delectus blanditiis molestias cupiditate similique ex,
          excepturi odio sint provident obcaecati eum illum nesciunt distinctio
          ut. Non sunt nisi animi!
        </div>
        <div class="price-shopping">$600usd | Cantidad: 1</div>
        <div class="buttons-shopping">
          <button type="submit" class="buy-shopping">Agregar otro</button>
          <button type="reset" class="erase-shopping">Eliminar producto</button>
        </div>
      </div>
    </div>
  </nav>
</header>

<script src="/js/script.js"></script>
