<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ICEBOX | Error</title>
    <%-include ('../partials/src') %>
  </head>

  <body>
    <%-include ('../partials/navBar') %>

    <section class="error-container">
      <img src="/Images/background.jpg" class="loginRegisterImg" alt="" />
      <div class="text-error-container">
        <strong class="error-title">Error 404 | Página no encontrada</strong>
        <p class="error-text">
          La página a la que tratas de acceder no existe o no se encuentra
          disponible.
        </p>
        <a href="/"><button class="back-button">Volver</button></a>
      </div>
    </section>
    <%-include ('../partials/footer') %>
  </body>
  <script src="/js/script.js"></script>
</html>
