<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ICEBOX | Iniciar sesión</title>
    <%-include ('../partials/src') %>
  </head>

  <body>
    <%-include ('../partials/navBar') %>
    <section class="products-container">
      <img src="/Images/halo.jpg" alt="" />
      <div class="product-text">
        <p class="products-title">HALO INFINITE</p>
        <p class="products-description">
          La legendaria saga Halo regresa con la campaña de Master Chief más
          amplia hasta la fecha y una experiencia multijugador gratuita
          revolucionaria.
        </p>
        <p class="products-price">Disponible en Xbox Game Pass</p>
      </div>
    </section>
    <form action="/login" method="POST" class="user-form">
      <div class="form-container">
        <div class="form-title">Bienvenido</div>

        <label for="email"><i class="fas fa-envelope"></i> Email </label>
        <input type="text" name="email" placeholder="micorreo@direccion.com" />
        <% if (locals.errors && errors.email){ %>
        <div class="text-danger"><%= errors.email.msg %></div>
        <% } %>

        <label for="password"><i class="fas fa-key"></i> Contraseña </label>
        <input
          type="password"
          name="password"
          placeholder="Escribe tu contraseña"
        />
        <% if (locals.errors && errors.password){ %>
        <div class="text-danger"><%= errors.password.msg %></div>
        <% } %>

        <div class="buttons">
          <button type="submit" class="register-btn">Iniciar sesión</button>
          <button type="reset" class="reset-btn">Borrar todo</button>
        </div>
      </div>
    </form>
  </body>
  <script src="/js/script.js"></script>
</html>
