<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ICEBOX | HOME</title>
  <%-include ('../partials/src') %>
</head>

<body>
  <%-include ('../partials/navBar') %>

    <div class="big-container">

      <section class="products-container">
        <img src="/Images/halo.jpg" alt="" />
        <article class="product-text">
          <h1 class="products-title">HALO INFINITE</h1>
          <p class="products-description">
            La legendaria saga Halo regresa con la campaña de Master Chief más
            amplia hasta la fecha y una experiencia multijugador gratuita
            revolucionaria.
          </p>
          <h3 id="products-price"><a href="/haloInfinite">Disponible</a></h3>
        </article>
      </section>

      <section class="products-container">
        <img src="/Images/wow.jpg" alt="" />
        <article class="product-text">
          <h1 class="products-title">Wrath of The Lich King</h1>
          <p class="products-description">
            Ya has conquistado Azeroth y Terrallende. Ahora te esperan las huestes del Rey Exánime en el continente
            helado de Rasganorte. Acaba con la Plaga de los no-muertos y enfréntate al mismísimo Rey Exánime en la cima
            de la Ciudadela de la Corona de Hielo.
          </p>
          <h3 id="products-price"><a href="/haloInfinite">Disponible</a></h3>
        </article>
      </section>

      <section class="products-container">
        <img src="/Images/ps5.jpg" alt="" />
        <article class="product-text">
          <h1 class="products-title">Play Station 5</h1>
          <p class="products-description">
            Experimenta una velocidad sorprendente con una SSD de velocidad ultrarrápida, una inmersión más profunda con
            soporte para respuesta háptica, gatillos adaptables y audio 3D, además de una generación completamente
            nueva de juegos de PlayStation.
          </p>
          <h3 id="products-price"><a href="/haloInfinite">Disponible</a></h3>
        </article>
      </section>
      <%-include ('../partials/form') %>
    </div>
    <%-include ('../partials/footer') %>
</body>
<script src="/js/script.js"></script>

</html>